# Dados do Setor de Saúde

Este notebook tem como objetivo analisar os indicadores mais importantes ou principais sobre o setor de saúde suplementar, sendo eles principalmente: sinistralidade, taxa de cobertura, número de operadores e VCHM.

In [6]:
import pandas as pd
import numpy as np

import src.demonstracoes_contabeis as dc

## Sinistralidade

Segundo informações divulgada pela ANS, o cálculo da SINISTRALIDADE deve seguir a seguinte fórmula:

<br>

$$
Sinistralidade = \frac{\text{Eventos Indenizáveis Líquidos} + |CCT|}{\text{Receitas com Operações de Assistência a Saúde} + |CCT|}
$$

<br>

Essas informações nos demonstrativos contábeis correspondem aos códigos:

- Eventos Indenizáveis Líquidos - 41
- Receitas com Operações de Assistência a Saúde - 31
- Contraprestações de Corresponsabilidade Cedida (CCT) - 3117, 31171

In [7]:
data = dc.download_data(start_year=2020, end_year=2023)
data = data.drop(['DESCRICAO', 'VL_SALDO_INICIAL'], axis=1)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9142584 entries, 0 to 9142583
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   DATA               object
 1   REG_ANS            int64
 2   CD_CONTA_CONTABIL  int64
 3   VL_SALDO_FINAL     object
dtypes: int64(2), object(2)
memory usage: 279.0+ MB

In [8]:
# seleciona somente as linhas relevantes do demonstrativo contabil e aplica módulo
ans_contabil = data.loc[data['CD_CONTA_CONTABIL'].isin([3117, 31171, 41, 31])].copy()

ans_contabil['VL_SALDO_FINAL'] = ans_contabil['VL_SALDO_FINAL'].apply(lambda x: float(x.replace(',', '.')))
ans_contabil['VL_SALDO_FINAL'] = np.where(ans_contabil['CD_CONTA_CONTABIL'].isin([3117, 31171]), ans_contabil['VL_SALDO_FINAL'].abs(), ans_contabil['VL_SALDO_FINAL'])

In [12]:
# limpeza das datas no banco de dados
ans_contabil

               DATA  REG_ANS  CD_CONTA_CONTABIL  VL_SALDO_FINAL
366      2021-10-01   422975                 41    0.000000e+00
455      2021-10-01   422991                 31    0.000000e+00
2077     2021-10-01   422991               3117    0.000000e+00
2078     2021-10-01   422991              31171    0.000000e+00
2685     2021-10-01   422614                 31    5.672868e+05
...             ...      ...                ...             ...
9141213  2022-10-01   338346                 41    1.851719e+07
9141585  2022-10-01   340162                 41    4.080983e+06
9142193  2022-10-01   342131                 31    3.998531e+07
9142408  2022-10-01   342386                 41    2.659083e+07
9142548  2022-10-01   342807                 41    1.378186e+08

[30159 rows x 4 columns]